.benefits {
	display: flex;
	gap: 30px;
}

.benefits__item {
	width: calc((100% - 3 * 30px) / 4);
}

.benefits__title {
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--main-text-color);
}

.benefits__icons {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 30px;
	height: 120px;

	background-color: #f5f4fa;
	border-radius: 4px;
}

.benefits__descriptions {
	color: var(--descriptions-text-color);
}