.button {
	width: 200px;
	height: 50px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;

	color: var(--main-background-color);
	background-color: var(--text-selection-color);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: 0;
	border-radius: 4px;

	transition: background-color 250ms var(--cubic-bezier);

	cursor: pointer;

	&:hover,
	&:focus {
		background-color: var(--button-hover-color);
	}
}
