.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);

	opacity: 1;
	transition: opacity 250ms var(--cubic-bezier);
}

.backdrop--is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 40px;

	width: 528px;

	background: var(--main-background-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: var(--descriptions-text-color);
}

.modal__title {
	margin-bottom: 30px;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;

	color: var(--main-text-color);
}

.form__label {
	position: relative;

	margin-bottom: 28px;

	border: 0;
}

.form__description {
	position: absolute;
	bottom: calc(100% + 4px);

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
}

.form__input {
	box-sizing: border-box;

	display: block;

	padding-left: 42px;

	width: 448px;
	height: 40px;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;

	color: var(--main-text-color);

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	outline: none;

	transition: border-color 250ms var(--cubic-bezier);

	.form__label:focus-within > & {
		border-color: var(--text-selection-color);
	}

	&::placeholder {
		font-family: "Roboto";
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.01em;

		color: rgba(117, 117, 117, 0.5);
	}
}

.form__label--comment {
	margin-bottom: 20px;
}

.form__input--comment {
	padding: 12px 16px;

	height: 120px;

	resize: none;
}

.form__icon {
	position: absolute;
	top: 50%;
	left: 12px;

	transform: translateY(-50%);

	fill: var(--main-text-color);

	transition: fill 250ms var(--cubic-bezier);

	.form__label:focus-within > & {
		fill: var(--text-selection-color);
	}

	.form__input:not(:placeholder-shown) + & {
		fill: var(--text-selection-color);
	}
}

/* License chekbox */
.licence {
	display: flex;
	align-items: center;

	margin-bottom: 30px;
}

.checkbox__icon {
	display: inline-block;
	box-sizing: border-box;

	margin-right: 7px;

	fill: transparent;

	border: 2px solid var(--main-text-color);
	border-radius: 2px;

	transition: fill 250ms var(--cubic-bezier);

	.checkbox:checked + & {
		fill: var(--main-background-color);
		background-color: var(--text-selection-color);
		border: 0;
	}
}

.license__link {
	text-decoration-line: underline;

	color: var(--text-selection-color);
}

/* Close button */
.close-button {
	position: absolute;
	top: 8px;
	right: 8px;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 30px;
	height: 30px;

	color: #000000;
	background: var(--main-background-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

	cursor: pointer;

	transition: color 250ms var(--cubic-bezier);

	&:hover,
	&:focus {
		color: var(--text-selection-color);
	}
}

.close-button__icon {
	fill: currentColor;
}

