:root {
	--main-text-color: #212121;
	--descriptions-text-color: #757575;
	--main-background-color: #ffffff;
	--text-selection-color: #2196f3;
	--third-text-color: #f5f4fa;
	--background-hero: #c4c4c4;
	--background-footer: #2f303a;
	--social-icon-color: #afb1b8;
	--button-hover-color: #188ce8;

	--cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
